.secnav {
    grid-area: secnav;
    background-color: #edeef0;
   /* padding: 20px;*/
    height: 100%;
}

.item a {
    color:black;
    text-decoration: none;
}
.item a.activeLink{
    color: darkorange;
}

