.app-wrapper {

    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 10px;*/
    grid-template-areas:
    "header header header"
    "nav content content";
}

.header {
    grid-area: header;
    background-color: red;
}
.header img {
    width: 60px;
}

.nav {
    grid-area: nav;
    background-color: antiquewhite;
}
.content {
    grid-area: content;
    background-color:  azure;
}



