.dialogs {
    display: grid;
}

.dialogs .dialog {
    background: #edeef0;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
}

.dialogs img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.dialogs ul {
    padding-left: 10px;
    list-style: none;
}

.dialogLi {
    display: inline-block;
    margin-right:5px;
    height:100%;
    vertical-align: -webkit-baseline-middle;
}
