.dialogs {
    display: grid;
   /*grid-template-columns: 2fr 10fr;*/
}

.dialogs .dialog {
    background: #edeef0;
    /* color: #fff; */
    padding: 10px;
    border-radius: 5px;
}

.dialogsItems {
    padding: 10px;
}

.dialogs img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.dialogsItems a {
    color:deeppink;
    text-decoration: none;
}
.dialogsItems a.active{
    color: darkorange;
}
/*.messages {
    padding: 10px;
}

.messages .message {
    grid-area: content;
}*/

.dialogs ul {
    padding-left: 10px;
    list-style: none;
}

.dialogLi {
    display: inline-block;
    margin-right:5px;
    height:100%;
    vertical-align: -webkit-baseline-middle;
}

.dialogListLi{
    margin: 10px;
}