.dialogs {
    display: grid;

    grid-template-columns: 2fr 10fr;
}

.dialogs .dialog {

}

.dialogsItems {
    padding: 10px;
}


.dialogsItems a {
    color:deeppink;
    text-decoration: none;
}
.dialogsItems a.active{
    color: darkorange;
}
.messages {
    padding: 10px;
}

.messages .message {

}